.Card {
  border: 1px solid black;
}

.Card__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  padding: 5px;
}

.Card__left-align {
  grid-column: 1;
}

.Card__image {
  justify-self: center;
  grid-column: 2;
  grid-row: 1 / span 2;
}
