.Card {
  border-top: 1px solid black;
  padding-bottom: 10px;
}

.Card__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  padding: 5px;
}

.Card__left-align {
  grid-column: 1;
}

.Card__image {
  justify-self: center;
  grid-column: 2;
  grid-row: 1 / span 2;
}

.shadow-g {
  box-shadow: 0 0 15px #ae0001;
}

.shadow-s {
  box-shadow: 0 0 15px #2a623d;
}

.shadow-r {
  box-shadow: 0 0 15px #222f5b;
}

.shadow-h {
  box-shadow: 0 0 15px #f0c75e;
}

.shadow-b {
  box-shadow: 0 0 15px black;
}
