.Card {
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: 10px;
}

.Card__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  padding: 5px;
  font-size: 0.8em;
}

.Card__left-align {
  grid-column: 1;
}

.Card__image {
  justify-self: center;
  grid-column: 2;
  grid-row: 1 / span 3;
}

.Gryffindor {
  color: #ae0001;
}

.Slytherin {
  color: #2a623d;
}

.Ravenclaw {
  color: #222f5b;
}

.Hufflepuff {
  color: #f0c75e;
}
